body {
background-image: url('back1.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
  }
      #cu {
font-family: Arial, Helvetica, sans-serif;
border-collapse: collapse;
width: 100%;
   }
#cu td, customers th {
border: 1px solid #ddd;
padding: 8px;
 color: Aquamarine;
 font-weight: bold;
}
#cu tr:nth-child(even) {background-color: #121212;}
#cu th {
padding-top: 12px;
padding-bottom: 12px;
text-align: center;
background-color: #64AA60;
color: white;
}
      #img {
    border: 1px white;
   }
    #kkk {
           width: auto;
      height: auto;
      background-color: #FFD700;
      border: 1px red;
      padding: 10px;
      margin: auto;
      text-align: center;
      color: black;
      font-weight: bold;
      font-size: 35px;
     text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

    }
    #ti { color:yellow;}
   #ta {color:yellow}
   #jj {color:yellow;
    text-align: center;
    
   }
